<app-buttons></app-buttons>
<section class="todoapp">
  <header class="header">
    <div class="container">
      <h1>{{ 'home.title' |translate}} </h1>
      <p>{{ 'home.description' |translate}} </p>
       
      <input
        class="new-todo"
        placeholder="{{'home.placeholder' |translate}}"
        autofocus
        type="text"
        [formControl] = "taskControl"
        (keydown.enter)="ChangeInput()"
        />
      </div>
    </header>
    <!-- <pre>
    <code>
      {{ tasks() | json}}
    </code>
  </pre>-->
  <div class="container todoapp-wrapper">
   
    <section class="main">
      <ul class="todo-list">
        @for (task of taskByFilter(); track task; let i = $index) {
          <li
            [class.completed]="task.completed"
            [class.editing]="task.editing"
            (dblclick)="EditingTask(i)"
            >
            <div class="view">
              <input class="toggle" type="checkbox" (change)="UpdateTask(i)" [checked]="task.completed" />
              <label>{{task.description}}</label>
              <button class="destroy" (click)="DeleteTask(i)"></button>
            </div>
            <input class="edit" (keydown.enter)="SaveEditedTask(i, $event)" [value]="task.description" />
          </li>
        }
      </ul>
    </section>

@if(taskByFilter().length > 0){
  <footer class="footer">

    <span class="todo-count">
      <strong>{{taskByFilter().length}}</strong> 
      <ng-container *ngIf="taskByFilter().length === 1; else multiple">
      {{ 'home.oneItem' | translate }}
    </ng-container>
    <ng-template #multiple>
      {{ 'home.twoItem' | translate }}
    </ng-template>  
    </span>

    <ul class="filters">
      <li>
        <a (click)="ChangeFilter('all')" [class.selected]="filter() === 'all'">
          {{ 'home.buttons.all' |translate}}
        </a>
      </li>
      <li>
        <a (click)="ChangeFilter('pending')" [class.selected]="filter() === 'pending'" routerLink="/pending">
           {{ 'home.buttons.pending' |translate}}
        </a>
      </li>
      <li>
        <a (click)="ChangeFilter('completed')" [class.selected]="filter() === 'completed'" routerLink="/completed">
          {{ 'home.buttons.completed' |translate}}
        </a>
      </li>
    </ul>

     @if(HaveCompleted() > 0){
      <button (click)="ClearCompleted()" class="clear-completed">
        {{ 'home.clear' |translate}}</button>
     }
    
  </footer>
}
    
  </div>
</section>
